/* ------------------------------------------------------------------ 
/* DIVS - BODY | HEADER | CONTENT | RIGHT NAV | FOOTER | SPACER */
/* ------------------------------------------------------------------ */
#menu {
	background-color: #96D1EB;
	width: 99%;
	margin: 0px -5px 0px 0px;
	padding: 0px;
	height: 1px;
	border-top: 0px solid #623321;
	border-right: 0px solid #623321;
	border-bottom: 0px solid #623321;
	border-left: 0px solid #623321;
	text-align: center;
	vertical-align: top;
	color: #FFFFFF;
	position: relative;
}



#normalTable  {
	border: 1px solid #A0A0A4;
	margin-top: 5px;
	vertical-align: top;
	text-align: left;
}

#normalTable tbody tr td {
	font-family: verdana,tahoma,helvetica,sans-serif;
	font-size: 8px;
	padding: 3px 4px;
	border-left: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	vertical-align: top;
	text-align: left;
}
	
#normalTable tbody tr.selected td {
	background-color: #E6E6E6;
	color: #000000;
	border-bottom: 1px solid #A0A0A4;
	font-weight: bold;
	font-size: 8px;
	vertical-align: top;
	text-align: left;
	font-family: verdana,tahoma,helvetica,sans-serif;
}
.messages{
	font-weight: bold;
}

#normalTable  {
	border: 1px solid #A0A0A4;
	margin-top: 5px;
	vertical-align: top;
	text-align: left;
}

#normalTable tbody tr td {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	padding: 3px 4px;
	border-left: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	vertical-align: top;
	text-align: left;
}
	
#normalTable tbody tr.selected td {
	background-color: #E6E6E6;
	color: #000000;
	border-bottom: 1px solid #A0A0A4;
	font-weight: bold;
	font-size: 11px;
	vertical-align: top;
	text-align: left;
}
.messages{
	font-weight: bold;
}


#headerTable  {
	border: 0px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 0px;
}

.snapHeaderWhite {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	vertical-align: bottom;
}

.snapHeaderBlack {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	vertical-align: bottom;
}

#normalTableFlush1  {
	border: 1px solid #A0A0A4;
	margin-top: 0px;
	text-align: center;
	vertical-align: top;
}

#normalTableFlush1 tbody tr td {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	padding: 1px;
	border-left: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	text-align: center;
	vertical-align: top;
}
	
#normalTableFlush1 tbody tr.selected td {
	background-color: #EFF6FB;
	color: #000000;
	border-bottom: 1px solid #A0A0A4;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	vertical-align: top;
}

/* ---- */

#normalTableFlush2  {
	border: 1px solid #A0A0A4;
	margin-top: 0px;
	text-align: center;
	vertical-align: top;
}

#normalTableFlush2 tbody tr td {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	padding: 1px;
	border-left: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	text-align: center;
	vertical-align: top;
}
	
#normalTableFlush2 tbody tr.selected td {
	background-color: #E6E6E6;
	color: #000000;
	border-bottom: 1px solid #A0A0A4;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	vertical-align: top;
}

/* ---- */

#normalTableFlush3  {
	border: 1px solid #A0A0A4;
	margin-top: 0px;
	text-align: center;
	vertical-align: top;
}

#normalTableFlush3 tbody tr td {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	padding: 1px;
	border-left: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	text-align: center;
	vertical-align: top;
}
	
#normalTableFlush3 tbody tr.selected td {
	background-color: #E6E6E6;
	color: #000000;
	border-bottom: 1px solid #A0A0A4;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	vertical-align: top;
}

/* ---- */

#normalTableFlush4  {
	border: 0px;
	margin-top: 0px;
	text-align: left;
	vertical-align: top;
}

#normalTableFlush4 tbody tr td {
	font-family: verdana, Arial, sans-serif;
	font-size: 11px;
	padding: 2px 3px;
	border-left: 0px;
	border-bottom: 0px ;
	text-align: left;
	vertical-align: top;
}
	
#normalTableFlush4 tbody tr.selected td {
	background-color: #E6E6E6;
	color: #000000;
	border-bottom: 0px;
	font-weight: bold;
	font-size: 11px;
	text-align: left;
	vertical-align: top;
}

/* ---- */

#normalTableNostripe  {
	border: 1px solid #465272;
	margin-top: 0px;
	text-align: left;
	vertical-align: top;
}

#normalTableNostripe tbody tr td {
	font-family: verdana, Arial, sans-serif;
	padding: 2px 3px;
	border-left: 1px solid #465272;
	border-bottom: 1px solid #465272;
	text-align: left;
	vertical-align: top;
	
}

#normalTableHeaderStyle {
	background: #96D1EB;
	border-left: 1px solid #465272;
	border-right: 1px solid #465272;
	border-top: 1px solid #465272;
	border-bottom: 1px solid #465272;
	font-weight: bold;
	padding: 4px 3px;
	text-align: left	
}
	
#normalTableNostripe tbody tr.selected td {
	background-color: #96D1EB;
	color: #1A4A6F;
	border-bottom: 1px solid #465272;
	text-align: left;
	vertical-align: top;
}

#normalTableNostripe td.centerAligned {
	font-family: verdana, Arial, sans-serif;
	padding: 2px 3px;
	border-left: 1px solid #465272;
	border-bottom: 1px solid #465272;
	text-align: left;
	vertical-align: middle;
}
/* ---- */

#normalTableForcewhite  {
	border: 1px solid #A0A0A4;
	margin-top: 5px;
	vertical-align: top;
	text-align: left;
}

#normalTableForcewhite tbody tr td {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	padding: 3px 4px;
	border-left: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	vertical-align: top;
	text-align: left;
}
	
#normalTableForcewhite tbody tr.selected td {
	background-color: #E6E6E6;
	color: #000000;
	border-bottom: 1px solid #465272;
	font-weight: bold;
	font-size: 11px;
	vertical-align: top;
	text-align: left;
}

/* ---- */

#normalTableForcewhite1  {
	border: 1px solid #A0A0A4;
	margin-top: 5px;
	vertical-align: top;
	text-align: left;
}

#normalTableForcewhite1 tbody tr td {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	padding: 3px 4px;
	border-left: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	vertical-align: top;
	text-align: left;
}
	
#normalTableForcewhite1 tbody tr.selected td {
	background-color: #E6E6E6;
	color: #000000;
	border-bottom: 1px solid #A0A0A4;
	font-weight: bold;
	font-size: 11px;
	vertical-align: top;
	text-align: left;
}

/* ---- */

#normalTableForcewhite2  {
	border: 1px solid #A0A0A4;
	margin-top: 5px;
	vertical-align: top;
	text-align: left;
}

#normalTableForcewhite2 tbody tr td {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	padding: 3px 4px;
	border-left: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	vertical-align: top;
	text-align: left;
}
	
#normalTableForcewhite2 tbody tr.selected td {
	background-color: #E6E6E6;
	color: #000000;
	border-bottom: 1px solid #A0A0A4;
	font-weight: bold;
	font-size: 11px;
	vertical-align: top;
	text-align: left;
}
/* ---- */

.selected {
	background-color: #96D1EB; 
	color: #000000;
	border-bottom: 1px solid #FFFFFF;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	vertical-align: top;
}

.alternateRow {
	background-color: #C6D8E6; 
	color: #000000;
	border-bottom: 1px solid #FFFFFF;
	text-align: center;
	vertical-align: top;
}

.normalRow {
	background-color: #FFFFFF; 
	color: #000000;
	border-bottom: 1px solid #FFFFFF;
	text-align: center;
	vertical-align: top;
}
.errorMessage {
	color: #000000;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	vertical-align: top;
}
.email {
	color: #000000;
	background-color: #EFF6FB; 
	font-weight: bold;
	font-size: 11px;
	text-align: justify;
	vertical-align: top;
}
.priority {
	color: #000000;
	font-weight: bold;
	font-size: 11px;
	text-align: left;
	vertical-align: top;
}

.tableHeader {
	background-color: #465272; 
	color: #000000;
	border-bottom: 1px solid #FFFFFF;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
}


.tableContent {
	color: #1A4A6F;
	font-family: verdana,tahoma,helvetica,sans-serif;
    font-size: 7pt;
    text-align: left;
}
.tableTitle {
	color: #1A4A6F;
	font-family: verdana,tahoma,helvetica,sans-serif;
    font-size: 7pt;
	font-weight: bold;
    text-align: left;
}


/* ------------------------------------------------------------------ */
/* DHTML MENU */
/* ------------------------------------------------------------------ */

a.MenuLabelLink	{ COLOR: #0E4B78; FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: None; margin: 0px; padding: 0px; font-weight: bold; }
a.MenuLabelLink:link { COLOR: #0E4B78;	FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: None; }
a.MenuLabelLink:visited	{ COLOR: #0E4B78; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: None;	}
a.MenuLabelLink:hover{ COLOR: #0E4B78; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: None; }
		
a.MenuLabelLinkOn {	COLOR: #0E4B78; FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: None; margin: 0px; padding: 0px; font-weight: bold; }
a.MenuLabelLinkOn:link { COLOR: #0E4B78; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: None; }
a.MenuLabelLinkOn:visited { COLOR: #0E4B78; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: None; }
a.MenuLabelLinkOn:hover { COLOR: #0E4B78; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: None; }
		
a.MenuItemLink { COLOR: #0E4B78; FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: None; margin: 0px; padding: 0px; font-weight: bold; }
a.MenuItemLink:link { COLOR: #0E4B78; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: None; }
a.MenuItemLink:visited { COLOR: #0E4B78; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: None; }
a.MenuItemLink:hover { COLOR: #0E4B78; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: None; }
		
a.MenuItemLinkOn { COLOR: #0E4B78; FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: None; margin: 0px; padding: 0px; font-weight: bold; }
a.MenuItemLinkOn:link { COLOR: #0E4B78; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: None; }
a.MenuItemLinkOn:visited { COLOR: #0E4B78; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: None; }
a.MenuItemLinkOn:hover { COLOR: #0E4B78; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: None; }
		
.myMenu { position: absolute; visibility: hidden; z-index: 5; }		
		
.myMenuLabelleft { padding: 0px 0px 0px 0px; text-align: left; }		
.myMenuLabelcenter { padding: 0px 0px 0px 0px; text-align: center; }		
.myMenuLabelright { padding: 0px 0px 0px 0px; text-align: right; }		
.myMenuItemleft { padding: 0px 0px 0px 0px; text-align: left; }		
.myMenuItemcenter { padding: 0px 0px 0px 0px; text-align: center; }		
.myMenuItemright { padding: 0px 0px 0px 0px; text-align: right; }		
		
#DropDownMenu {
	width: 99%;
	padding: 0px;
	text-align: left;
	margin: -2px -1px -2px -2px;
	
}

#breadcrumbArea {
	background-color: #EEEEEE;
	width: 99%;
	margin: 0px -5px 0px 0px;
	padding: 0px;
	height: 5mm;
	border-top: 0px solid #623321;
	border-right: 0px solid #623321;
	border-bottom: 1px solid #623321;
	border-left: 0px solid #623321;

}

.small {
	font-size: 85%;
	padding-top: 5px;
	line-height: 23px;
}

.form {
	font-size: 98%;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

.bottom {
	vertical-align: text-bottom;
}

.medium {
	font-size: 98%;
}

.formHeader {
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 10px;
	z-index: 1;
}

.changeTable {
	border: 1px solid #DBDBDB;
	padding: 5px;
	font-size: 90%;
	font-weight: bold;
	background-color: #F5F5F5;
	margin-top: 6px;	
}
.redStar {
	font-size: 125%;
	color: #D40000;
	font-weight: bolder;
}
.larger {
	font-size: 125%;
}